<?php
/**
 * Webinse
 *
 * PHP Version 5.6.23
 *
 * @category    Webinse
 * @package     Webinse_Gallery
 * @author      Webinse Team <info@webinse.com>
 * @copyright   2017 Webinse Ltd. (https://www.webinse.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0
 */
/**
 * Template for all questions
 *
 * @category    Webinse
 * @package     Webinse_Webinse
 * @author      Webinse Team <info@webinse.com>
 * @copyright   2017 Webinse Ltd. (https://www.webinse.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0
 */
/** @var \Webinse\Gallery\Block\Image\All $block */
?>
<?php $collection = $block->getCollection() ?>
<?php
if ( !is_dir('pub/media/albums') ) {
    mkdir('pub/media/albums');
}
$albums = $block->getAlbums();
foreach ($albums as $album) {
    if ($album == "." || $album == "..") {
        continue;
    }
    ?>
    <h2><?= __($album)?></h2>
    <?php
    $galleries = $block->getGalleries($album);
    foreach ($galleries as $gallery) {
        if ($gallery == "." || $gallery == "..") {
            continue;
        }
        ?>
        <a href="<?= $block->getShowGalleryUrl($album, $gallery)?>"><?= __($gallery)?></a>
        <?php
    }
}
?>

