<?php
/**
 * Webinse
 *
 * PHP Version 5.6.23
 *
 * @category    Webinse
 * @package     Webinse_Webinse
 * @author      Webinse Team <info@webinse.com>
 * @copyright   2017 Webinse Ltd. (https://www.webinse.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0
 */
/**
 * Template for show gallery
 *
 * @category    Webinse
 * @package     Webinse_Gallery
 * @author      Webinse Team <info@webinse.com>
 * @copyright   2017 Webinse Ltd. (https://www.webinse.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0
 */

?>
<div id="aniimated-thumbnials">
    <?php
    $directory_data = $block->getDirectoryData();
    $images = $block->getImages();
    foreach ($images as $image){
        if ($image == "." || $image == "..") {
            continue;
        }
        ?>
        <a href="<?= 'http://gallery.loc/pub/media/albums/'.$directory_data['album']. DIRECTORY_SEPARATOR . $directory_data['gallery'] . DIRECTORY_SEPARATOR . $image ?>">
            <img src="<?= 'http://gallery.loc/pub/media/albums/'.$directory_data['album']. DIRECTORY_SEPARATOR . $directory_data['gallery'] . DIRECTORY_SEPARATOR . $image ?>" width="200">
        </a>
        <?php
    }
    ?>
</div>

<?php
$configs = $block->getConfigs();
?>

<script type="text/x-magento-init">
{
    "*": {
        "galleryjs": {
            "animatedThumb": "<?= __($configs) ?>"
        }
    }
}

</script>
